<div id="photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @flat.image_url%>);"></div>

<div class="container">
  <div class="details-container">
      <div class="flat-infos">
        <div class="details-card">
          <h2> <%= @flat.name %> </h2>
          <p> <%= @flat.description %> </p>
          <p> <%= @flat.address %> </p>
        </div>
        <div class="details-card">
          <p> <%= @flat.price_per_night %> $</p>
          <p> <%= @flat.number_of_guests %> Guests</p>
        </div>
      </div>
      <div class="booking-form">
        <%= simple_form_for @flat do |f| %>
          <%= f.input :number_of_guests %>
          <%= f.submit "book this flat", class: "btn btn-success" %>
        <% end %>
      </div>
  </div>
    <%= link_to 'Edit Flat Infos', edit_flat_path, :class => 'btn btn-primary' %>
    <%= link_to 'Delete Flat', flat_path(@flat), :class => 'btn btn-danger', method: :delete %>
</div>
